@model AllPostQueryModel

<partial name="Partials/_FilterPartial" model="@Model" />

<<div class="row">
	@foreach (var post in Model.Posts)
	{
		<partial name="Partials/_PostPartial" model="@post" />
	}
</div>