<link href="~/css/error.css" rel="stylesheet" />
<section class="errorPage">
    <div class="errorPage__text">
        <h3>404</h3>
        <button class="errorPage__button" href="/Home/Index" >Back to home</button>
    </div>
    <span class="errorPage__templeweed-container"><img src="https://i.ibb.co/mTg87G2/tembleweed.png" class="errorPage__tembleweed"></span>
    <div class="errorPage__terrain"></div>
</section>