<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <form class="component-form">
      <div class="component-container1">
        <div class="component-container2">
          <input
            type="text"
            placeholder="Search..."
            class="component-textinput input"
          />
          <select class="component-select">
            <option value="All">All</option>
            <option value="Option 2">Option 2</option>
            <option value="Option 3">Option 3</option>
          </select>
          <select class="component-select1">
            <option value="Newest">Newest</option>
            <option value="Option 2">Option 2</option>
            <option value="Option 3">Option 3</option>
          </select>
          <button type="button" class="component-button button">
            <span>
              <span>Search</span>
              <br />
            </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
