html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer-fix {
    /*position: absolute;
    bottom: 0;
    width: 100%;*/
}