<link rel="stylesheet" href="~/css/LoginPage/loginstyle.css" />

<div id="background">
    <div class="container">
        <div class="center-form">
            <h1>Log in</h1>
            <form method="POST" action="">
                <div class="txt_field">
                    <input type="email" name="email" required>
                    <span></span>
                    <label>Email</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <input name="submit" type="Submit" value="Log In">
                <div class="signup_link">
                    Don't have an Account? <a href="loginForm.php">Register Here</a>
                </div>
            </form>
        </div>
    </div>
</div>