<title>Home</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="~/css/LoginPage/loginstyle.css" />


<div class="container">
    <div class="center">
        <h1>Register</h1>
        <form method="POST" action="">
            <div class="txt_field">
                <input type="text" name="Firstname" required>
                <span></span>
                <label>First Name</label>
            </div>
            <div class="txt_field">
                <input type="text" name="Lastname" required>
                <span></span>
                <label>Last Name</label>
            </div>
            <div class="txt_field">
                <input type="text" name="Username" required>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="number" name="age" required>
                <span></span>
                <label>Age</label>
            </div>
            <div class="txt_field">
                <input type="number" name="PhoneNumber" required>
                <span></span>
                <label>Phone Number</label>
            </div>
            <div class="txt_field">
                <input type="email" name="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="txt_field">
                <input type="password" name="ConfirmPassword" required>
                <span></span>
                <label>Confirm Password</label>
            </div>
            <input name="submit" type="Submit" value="Sign Up">
            <div class="signup_link">
                Have an Account ? <a href="loginForm.php">Login Here</a>
            </div>
        </form>
    </div>
</div>